{% extends 'base.html' %}

{% block title %}Add Student{% endblock title %} 

{% block main_body %}
<div class="container my-4">
  <form method="post" action="{% url 'addstudent' %}">
      {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="name" class="form-control" placeholder="name@example.com" required>
      </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" placeholder="email@example.com" required>
      </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" name="address" class="form-control" placeholder="address@example.com" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-primary" href="{% url 'home' %}">Go Back</a>
  </form> 
</div>
 
{% endblock main_body %}