{% extends 'base.html' %}

{% block title %}Home{% endblock title %} 

{% block main_body %}

 <h2 class="text-center mt-3">Django Crud Application</h2>
 <div class="container my-4">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">NO</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">address</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for student in students %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td> {{ student.name }} </td>
              <td>{{ student.email}}</td>
              <td>{{student.address }}</td>
       <td> 
        <a onclick="return confirm('Are you sure you want to delete this list!!')" href="{{student.id}}"><button type="submit" class="btn btn-danger" href="{{ student.id}}">Delete</button></a>

        <a href="{{student.id}}"><button type="submit" class="btn btn-primary">Edit</button> </a>
      </td>
        
              
            </tr>
          </tbody>
          {% endfor %} 
      </table> 
 </div>
{% endblock main_body %}